@import"lib/lib-mixins-mobile.css";
@import"lib/lib-reset-mobile.css";
body {
    font-size: .06rem
}

html,
body {
    height: 100%;
    overflow: hidden
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden
}

#scroller {
    position: absolute;
    z-index: 1;
    width: 18.805rem;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none
}

.mainScene {
    position: relative;
    height: 100%
}

.scene,
.layer {
    height: 100%
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-wrapper {
    position: relative;
    -webkit-transform: scale(1, .9);
    transform: scale(1, .9)
}

.swiper-wrapper .itembox {
    position: absolute;
    left: 0rem;
    top: -.8rem
}

.swiper-wrapper .swiper-slide {
    float: left;
    width: 5.4rem!important;
    height: 9.6rem;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -.8rem
}

.swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url(../image/light/bg2_01.jpg);
}

.swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url(../image/light/bg2_02.jpg)
}

.swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url(../image/light/bg2_03.jpg)
}

.swiper-wrapper .swiper-slide:nth-child(4) {
    width:2.605rem !important;
    background-image: url(../image/light/bg2_04.jpg)
}

/*.swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url(../image/light/bg2_05.jpg)
}*/

/*.swiper-wrapper.dark .swiper-slide:nth-child(1) {
    background-image: url(../img/dark/bg2_01.jpg)
}

.swiper-wrapper.dark .swiper-slide:nth-child(2) {
    background-image: url(../img/dark/bg2_02.jpg)
}

.swiper-wrapper.dark .swiper-slide:nth-child(3) {
    background-image: url(../img/dark/bg2_03.jpg)
}

.swiper-wrapper.dark .swiper-slide:nth-child(4) {
    background-image: url(../img/dark/bg2_04.jpg)
}

.swiper-wrapper.dark .swiper-slide:nth-child(5) {
    background-image: url(../img/dark/bg2_05.jpg)
}*/

.swiper-wrapper.dark .window {
    display: none
}

.swiper-wrapper.dark .animate-items .item:nth-child(6) {
    width: 2.28rem;
    height: 1.45rem;
    left: 9.8rem;
    top: 2.92rem;
    background: url(../img/flash/img_04.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0!important
}

.swiper-wrapper.dark .noanimate-items .item:nth-child(2) {
    background: url(../img/flash/img_01.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.swiper-wrapper.dark .noanimate-items .item:nth-child(3) {
    background: url(../img/flash/img_02.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    z-index: 2;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.swiper-wrapper.dark .noanimate-items .item:nth-child(5) {
    background: url(../img/flash/img_03.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.window {
    position: absolute;
    width: 2.37rem;
    height: 1.99rem;
    left: 3.975rem;
    top: 1.63rem;
    overflow: hidden;
    z-index: 1
}

.window .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.window .bg div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}

.window .bg:nth-child(1) {
    z-index: 4
}

.window .bg:nth-child(2) {
    z-index: 3
}

.window .bg:nth-child(3) {
    z-index: 2;
    left: .35rem
}

.window .bg:nth-child(4) {
    z-index: 1;
    left: .45rem
}

/*.window .bg:nth-child(1) div {
    background-image: url(../img/window/mask.png)
}

.window .bg:nth-child(2) div {
    background-image: url(../img/window/w_bg3.png)
}

.window .bg:nth-child(3) div {
    background-image: url(../img/window/w_bg2.png);
    z-index: 2
}

.window .bg:nth-child(4) div {
    background-image: url(../img/window/w_bg1.png);
    z-index: 1
}*/

.animate-items {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20
}

.animate-items .item {
    position: absolute;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999em;
    overflow: hidden
}

.animate-items .item:nth-child(1) {
    left: 0.98rem;
    top: 2.875rem;
    width: 1.38rem;
    height: 4.42rem;
    background-image: url(../image/animate/before/animate01.jpg);
}

.animate-items .item:nth-child(2) {
    left: 2.56rem;
    top: 2.66rem;
    width: 1.3rem;
    height: 1.705rem;
    background-image: url(../image/animate/before/animate02.jpg);
    z-index: 20
}

.animate-items .item:nth-child(3) {
    left: 3.78rem;
    top: 6.42rem;
    width: 1.06rem;
    height: 1.005rem;
    background-image: url(../image/animate/before/animate03.jpg)
}

.animate-items .item:nth-child(4) {
    left: 6.175rem;
    top: 1.895rem;
    width: .305rem;
    height: 1.14rem;
    background-image: url(../image/animate/before/animate04.jpg)
}

.animate-items .item:nth-child(5) {
    left: 6.295rem;
    top: 4.565rem;
    width: .735rem;
    height: .86rem;
    background-image: url(../image/animate/before/animate05.jpg)
}

.animate-items .item:nth-child(6) {
    width: 0.545rem;
    height: 0.62rem;
    left: 7.645rem;
    top: 5.1rem;
    background-image: url(../image/animate/before/animate06.jpg)
}

.animate-items .item:nth-child(7) {
    left: 7.8rem;
    top: 6.56rem;
    width: .52rem;
    height: .38rem;
    background-image: url(../image/animate/before/animate07.jpg)
}

.animate-items .item:nth-child(8) {
    left: 7.38rem;
    top: 7.15rem;
    width: 1.74rem;
    height: 0.54rem;
    background-image: url(../image/animate/before/animate08.jpg)
}

.animate-items .item:nth-child(9) {
    left: 11.42rem;
    top: 5.95rem;
    width: .98rem;
    height: 1.2rem;
    background-image: url(../image/animate/before/animate09.jpg)
}

.animate-items .item:nth-child(10) {
    left: 12.66rem;
    top: 3.95rem;
    width: 0.75rem;
    height: 2.47rem;
    background-image: url(../image/animate/before/animate10.jpg)
}

.animate-items .item:nth-child(11) {
    left: 15.13rem;
    top: 2.01rem;
    width: 0.53rem;
    height: 0.5rem;
    background-image: url(../image/animate/before/animate11.jpg)
}

.animate-items .item:nth-child(12) {
    left: 16.15rem;
    top: 6.24rem;
    width: 1.86rem;
    height: 1.6rem;
    background-image: url(../image/animate/before/animate12.jpg)
}

.animate-items .item.after:nth-child(1),.animate-items .item.after:nth-child(2),.animate-items .item.after:nth-child(3),.animate-items .item.after:nth-child(4),.animate-items .item.after:nth-child(5),.animate-items .item.after:nth-child(6),.animate-items .item.after:nth-child(7),.animate-items .item.after:nth-child(8),.animate-items .item.after:nth-child(9),.animate-items .item.after:nth-child(10),.animate-items .item.after:nth-child(11),.animate-items .item.after:nth-child(12){
    transform:scale(1.1);
}
/*.animate-items .item.after:nth-child(1) {
    background-image: url(../img/animate/after/animate01.jpg)
}

.animate-items .item.after:nth-child(2) {
    background-image: url(../img/animate/after/animate02.jpg)
}

.animate-items .item.after:nth-child(3) {
    background-image: url(../img/animate/after/animate03.jpg)
}

.animate-items .item.after:nth-child(4) {
    background-image: url(../img/animate/after/animate04.jpg)
}

.animate-items .item.after:nth-child(5) {
    background-image: url(../img/animate/after/animate05.jpg)
}

.animate-items .item.after:nth-child(7) {
    background-image: url(../img/animate/after/animate07.jpg)
}

.animate-items .item.after:nth-child(8) {
    background-image: url(../img/animate/after/animate08.jpg)
}

.animate-items .item.after:nth-child(9) {
    background-image: url(../img/animate/after/animate09.jpg)
}

.animate-items .item.after:nth-child(10) {
    background-image: url(../img/animate/after/animate10.jpg)
}*/

.animate-items .item.hide {
    opacity: 0
}

.noanimate-items .item {
    position: absolute;
    text-indent: -9999em;
    overflow: hidden
}

.noanimate-items .item:nth-child(1) {
    width: .84rem;
    height: 1.1rem;
    left: 2.38rem;
    top: 1.81rem
}

.noanimate-items .item:nth-child(2) {
    width: .5rem;
    height: .7rem;
    left: 2.31rem;
    top: 3.94rem
}

.noanimate-items .item:nth-child(3) {
    width: 1.25rem;
    height: .47rem;
    left: 3.92rem;
    top: 5.49rem
}

.noanimate-items .item:nth-child(4) {
    width: .6rem;
    height: .58rem;
    left: 5.03rem;
    top: 3.05rem;
    z-index: 10
}

.noanimate-items .item:nth-child(5) {
    width: .33rem;
    height: .21rem;
    left: 5.44rem;
    top: 4.3rem
}

.noanimate-items .item:nth-child(6) {
    width: .68rem;
    height: .8rem;
    left: 7.6rem;
    top: 4.62rem
}

.noanimate-items .item:nth-child(7) {
    width: 1.48rem;
    height: .95rem;
    left: 9.1rem;
    top: 1.49rem
}

.noanimate-items .item:nth-child(8) {
    width: .44rem;
    height: .68rem;
    left: 13.62rem;
    top: 3.2rem
}

.noanimate-items .item:nth-child(9) {
    width: 1.5rem;
    height: 3.37rem;
    left: -.52rem;
    top: 0
}

.noanimate-items .item:nth-child(10) {
    width: 1.17rem;
    height: .7rem;
    left: 2.95rem;
    top: 5.58rem
}

.noanimate-items .item:nth-child(11) {
    width: 1.76rem;
    height: 2.03rem;
    left: 4.33rem;
    top: 1.58rem
}

.noanimate-items .item:nth-child(12) {
    width: .55rem;
    height: .55rem;
    left: 6.83rem;
    top: 4.9rem
}

.noanimate-items .item:nth-child(13) {
    width: 1.63rem;
    height: .53rem;
    left: 7.38rem;
    top: 1.05rem
}

.noanimate-items .item:nth-child(14) {
    width: .9rem;
    height: 1.45rem;
    left: 11.48rem;
    top: 1.32rem
}

.flash-items .item {
    position: absolute
}

.icon-tips {
    position: absolute;
    z-index: 97;
    right: .2rem;
    top: .2rem;
    width: .2rem;
    height: .2rem;
    background: url(../img/icon_tips.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}

.dialog {
    position: absolute;
    display: none;
    z-index: 97;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .68)
}

.dialog.show {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.dialog-tips {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 4.095rem;
    margin: 0 0 0 -2.0475rem;
    text-align: center;
    font-size: .24rem;
    line-height: 0.3rem;
}
.dialog-tips.key-content{
    top: 50%;
}

.dialog-tips h3 {
    color: #fff;
    font-weight: 100;
    margin: 0
}

.dialog-tips p {
    color: #ffba00;
    margin: 5.575rem 0 0 0;

}

.dialog-tips.hide {
    display: none
}

.dialog-progress {
    position: absolute;
    bottom: .2rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: .12rem;
    font-weight: 700
}

.dialog-key {
    text-align: center
}

.dialog-key p {
    margin: 0;
    color: #fff;
    font-size: .12rem
}

.dialog-key .discount-img {
    display: block;
    width: 100%;
    height: 2.775rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2.5rem
}

.dialog-key .discount-img:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0%;
    background: none;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    width: 4.095rem;
    height: 2.775rem;
    margin: 0 0 0 -2.0475rem;
}

.dialog-key .discount-img.discount-img_01:after {
    background-image: url(../image/popup/img/01.jpg);
}

.dialog-key .discount-img.discount-img_02:after {
    background-image: url(../image/popup/img/02.jpg);
}

.dialog-key .discount-img.discount-img_03:after {
    background-image: url(../image/popup/img/03.jpg);
}

.dialog-key .discount-img.discount-img_04:after {
    background-image: url(../image/popup/img/04.jpg);
}

.dialog-key .discount-img.discount-img_05:after {
    background-image: url(../image/popup/img/05.jpg);
}

.dialog-key .discount-img.discount-img_06:after {
    background-image: url(../image/popup/img/06.jpg);
}

.dialog-key .discount-img.discount-img_07:after {
    background-image: url(../image/popup/img/07.jpg);
}

.dialog-key .discount-img.discount-img_08:after {
    background-image: url(../image/popup/img/08.jpg);
}

.dialog-tips .discount-text,.dialog-tips .key-text{
    text-align: center;
}

.dialog-tips .discount-text{
    position: relative;
    margin-top: 0.33rem;
}

.dialog-tips .key-text{

}

.dialog-tips .discount-text:after,.dialog-tips .key-text:after{
    content: '';
    display: inline-block;
}

.dialog-tips .discount-text:after{
    position: absolute;
    left: 50%;
    top: 0;
}

.dialog-tips .key-text:after{
    position: absolute;
}

.dialog-tips .discount-text.discount-text_01:after {
    width: 4.005rem;
    height: 0.6rem;
    background: url(../image/popup/text/discount/01.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -2.0025rem;
}

.dialog-tips .discount-text.discount-text_02:after {
    width: 4.825rem;
    height: 0.6rem;
    background: url(../image/popup/text/discount/02.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -2.4125rem;
}

.dialog-tips .discount-text.discount-text_03:after {
    width: 3.465rem;
    height: 0.6rem;
    background: url(../image/popup/text/discount/03.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -1.7325rem;
}

.dialog-tips .discount-text.discount-text_04:after {
    width: 5.06rem;
    height: 0.6rem;
    background: url(../image/popup/text/discount/04.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -2.53rem;
}

.dialog-tips .discount-text.discount-text_05:after {
    width: 3.465rem;
    height: 0.605rem;
    background: url(../image/popup/text/discount/05.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -1.7325rem;
}

.dialog-tips .discount-text.discount-text_06:after {
    width: 3.465rem;
    height: 0.615rem;
    background: url(../image/popup/text/discount/06.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -1.7325rem;
}

.dialog-tips .discount-text.discount-text_07:after {
    width: 4.955rem;
    height: 0.925rem;
    background: url(../image/popup/text/discount/07.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -2.4775rem;
    margin-top: -0.1rem;
}

.dialog-tips .discount-text.discount-text_08:after {
    width: 3.06rem;
    height: 0.6rem;
    background: url(../image/popup/text/discount/08.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin-left: -1.53rem;
}

.dialog-tips .key-text.key-text_01:after {
    width: 4.425rem;
    height: 1.265rem;
    background: url(../image/popup/text/key/01.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin: -.6325rem 0 0 -2.2125rem
}

.dialog-tips .key-text.key-text_02:after {
    width: 3.02rem;
    height: 1.26rem;
    background: url(../image/popup/text/key/02.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin: -.63rem 0 0 -1.51rem
}

.dialog-tips .key-text.key-text_03:after {
    width: 5.06rem;
    height: 1.26rem;
    background: url(../image/popup/text/key/03.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin: -.63rem 0 0 -2.53rem
}

.dialog-tips .key-text.key-text_04:after {
    width: 3.04rem;
    height: 1.59rem;
    background: url(../image/popup/text/key/04.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    margin: -.795rem 0 0 -1.52rem
}

.dialog-key.hide {
    display: none
}

.dialog-mask {
    position: absolute;
    left: 50%;
    top: 0%;
    margin: 7.485rem 0 0 -.915rem;
    width: 1.83rem;
    height: .59rem;
    background: url(../image/btn_check.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: none;
}

.dialog-mask.show {
    display: block
}

.lock-key {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.lock-key.show {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.lock-key_hd {
    text-align: center;
    color: #fff;
    font-size: .17rem;
    font-weight: 100;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -1.95rem
}

.lock-key_hd p {
    margin: 0
}

.lock-key .keystatus {
    line-height: 0;
    padding-top: .19rem
}

.lock-key .keystatus span {
    display: inline-block;
    width: .08rem;
    height: .08rem;
    border-radius: .08rem;
    border: .01rem solid #fff;
    margin: 0 .1rem
}

.lock-key .keystatus span.active {
    background-color: #8a8384
}

.lock-key .keystatus.wrong {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.lock-key_bd {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -1.09rem
}

.lock-key .num-list {
    text-align: center;
    padding: 0 .43rem
}

.lock-key .num-list .num-item {
    display: inline-block;
    width: .54rem;
    height: .54rem;
    border: .01rem solid #a89692;
    border-radius: .54rem;
    font-size: .29rem;
    color: #fff!important;
    text-align: center;
    line-height: .54rem;
    margin: 0 .11rem .11rem;
    float: left;
    font-weight: 100
}

.lock-key .num-list .num-item:last-child {
    float: none
}

.lock-key .num-list .num-item:active {
    background-color: #8a8384
}

.lock-key_close {
    position: absolute;
    right: .54rem;
    bottom: .35rem;
    color: #fff;
    font-size: .12rem
}

.page-kv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000 url(../img/KV/bg.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    display: none
}

.page-kv.show {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.page-kv_slogan {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.1rem 0 0 -1.155rem;
    width: 2.31rem;
    height: 2.31rem;
    background: url(../img/KV/slogan.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}

.page-kv_logo {
    position: absolute;
    left: 50%;
    bottom: .15rem;
    margin: 0 0 0 -.6375rem;
    width: 1.275rem;
    height: .51rem;
    background: url(../img/KV/logo.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}

.page-kv_text {
    position: absolute;
    bottom: .9rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: .09rem
}

.page-kv_link {
    position: absolute;
    bottom: .7rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: .09rem
}

.page-tips {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.page-tips:after {
    position: absolute;
    left: 50%;
    bottom: .875rem;
    margin-left: -1.5rem;
    content: '';
    width: 3rem;
    height: 5.465rem;
    background: url(../image/swipe_tips.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}

.page-finished {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    display: none
}

.page-finished h3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -.5rem;
    font-size: .18rem;
    font-weight: 100;
    display: none
}

.page-finished.show {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.page-finished.show h3 {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.page-finished.show p {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.page-finished.show p:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}

.page-finished p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: .15rem;
    font-weight: 100;
    display: none
}

.page-finished p:nth-child(2) {
    margin-top: -.2rem
}

.page-finished p:nth-child(3) {
    margin-top: 0
}

@-webkit-keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

@keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}